.live__text {
    text-transform: uppercase;
}

.live__icon {
    font-size: 50%;
    margin-right: 5px;
    vertical-align: text-top;
}

.live__icon--colored {
    color: red;
}

.match {
    margin-bottom: 20px;
}

.stars {
    text-align: right;
}
